<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangeBox Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">   <!-- ✅ ADD THIS -->
</head>
<body>
    <div style="text-align:center; margin-bottom: 20px;">
		<img src="/static/changebox_logo.png" alt="ChangeBox Logo" height="50" style="margin-bottom:10px;">
		<h2 style="margin-top: -5px; color: white;">Advertisement Video_Looper Monitor Dashboard</h2>
	</div>
    <main style="margin: 0 20px;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>

